<h1>Minimal Blog</h1>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log out", logout_path %>
  <%= link_to 'My Blog', controller: 'articles' %>
  <%= link_to 'New article', new_article_path %>
<% else %>
  <%= link_to "Sign up", signup_path %>
  <%= link_to "Log in", login_path %>
<% end %>
